<div class="todos">
	<h2>Todos</h2>
	<div class="_todos__display-container">
		Display Completed
		<label class="switch">
			<input type="checkbox"
						 [checked]=displayCompleted
						 (click)="toggleDisplayCompleted()" />
			<span class="slider round"></span>
		</label>
	</div>
	<ul class="_todos__container">
		<li *ngFor="let todo of todosDataArr">
			<input id={{todo.id}}
						 name={{todo.id}}
						 type="checkbox"
						 value={{todo.id}}
						 [hidden]="displayCompleted && !todo.completed"
						 [checked]=todo.completed
						 (click)="toggleCheckbox(todo.id)" />
			<label for={{todo.id}} [hidden]="displayCompleted && !todo.completed">{{todo.title}}</label>
		</li>
	</ul>
</div>
