@import "~sass/styles";

.modal {
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	&.-active {
		display: flex;
	}

	._modal-container {
		align-self: center;
		background-color: $white;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		height: 85%;
		margin: 0 auto;
		overflow: hidden;
		width: 750px;

		header {
			align-items: center;
			border-bottom: 1px solid $light-grey;
			display: flex;
			justify-content: space-between;
			padding: 20px 30px;

			h2 {
				border: none;
				font-weight: bold;
			}

			._modal-container__close {
				cursor: pointer;
				font-size: $font-size-medium;
			}
		}
		section {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(auto-fill, minmax(auto, 150px));
			justify-content: center;
			overflow-x: scroll;
			padding: 10px 0;

			img {
				display: flex;
				justify-content: center;
			}
		}

		@include respond-to(sm-max) {
			width: 550px;
		}
		@include respond-to(xs-max) {
			width: 85%;
		}
	}
}
