<div class="albums">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
	<component-modal #modal></component-modal>
	<h2>Albums</h2>
	<div class="_albums__sort-container">
		Sort
		<span title="Sort Ascending" (click)="sortAlbums('asc')">&#x25B2;</span>
		<span title="Sort Descending" (click)="sortAlbums('desc')">&#x25BC;</span>
	</div>
	<ul class="_albums__container">
		<li *ngFor="let album of albumsDataArr">
			<span>{{album.title}}
				<span class="_albums_container__photoCount">({{album.numberOfPhotos}} Photos)</span>
			</span>
			<span class="_link" (click)="openAlbum(album.albumId, album.title)">View Photos</span>
		</li>
	</ul>
</div>
